

li{
    margin:0 0 10px 0;   
 }



.pulse {
    animation: pulsate 1s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}


@keyframes pulsate {
    0% {transform: opacity: 0.0;}
    50% {opacity: 1.0;}
